<h1>Users</h1>

<%= link_to "Crear Perfil", profiles_new_path %>
<table align='center'>
  <tr>
    <thead>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Email</th>
      <th>Trabajo</th>
      <th>Edad</th>
      <th>Foto</th>
    </thead>
  </tr>
    <% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.name %></td>
    <td><%= profile.description %></td>
    <td><%= profile.email %></td>
    <td><%= profile.work %></td>
    <td><%= profile.age %></td>
    <td><%= image_tag(profile.photo) %></td>

    <td>
      <%= link_to "Editar", edit_profile_path(profile) %>
      <%= link_to "Eliminar", profile, method: :delete, data: { confirm: "Deseas eliminar este perfil?"} %>
    </td>
  </tr>
    <% end %>
</table>

<br>

<%= link_to "Publications", publications_path %>
