<h1>Perfil</h1>

<table align='center'>
  <tr>
    <thead>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Email</th>
      <th>Trabajo</th>
      <th>Edad</th>
    </thead>
    <td><%= @profile.name %></td>
    <td><%= @profile.description %></td>
    <td><%= @profile.email %></td>
    <td><%= @profile.work %></td>
    <td><%= @profile.age %></td>

  </tr>
</table>

<br>

<%= link_to "Perfiles", profiles_path %>
<%= link_to "Editar", edit_profile_path(@profile) %>
<%= link_to "Eliminar", @profile, method: :delete, data: { confirm: "Deseas eliminar este perfil?"} %>