<h1>Publications</h1>

<%= link_to "Crear Publicación", publications_new_path %>
<table align='center'>
  <tr>
    <thead>
      <th>Title</th>
      <th>Content</th>
    </thead>
  </tr>
    <% @publications.each do |publication| %>
  <tr>
    <td><%= publication.title %></td>
    <td><%= publication.content %></td>

    <td>
      <%= link_to "Editar", edit_publication_path(publication) %>
      <%= link_to "Eliminar", publication, method: :delete, data: { confirm: "Deseas eliminar esta publicación?"} %>
      <%= link_to "Mostrar", publication_path(publication) %>
    </td>
  </tr>
    <% end %>
</table>

<br>
<%= link_to "Profiles", profiles_path %>