<%= link_to "Crear Usuario", users_new_path %>
<table>
  <tr>
    <thead>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Email</th>
      <th>Trabajo</th>
      <th>Edad</th>
      <th>Foto</th>
    </thead>
  </tr>
    <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.description %></td>
    <td><%= user.email %></td>
    <td><%= user.work %></td>
    <td><%= user.age %></td>
    <td><%= image_tag(user.photo) %></td>

    <td>
      <%= link_to "Editar", edit_user_path(user) %>
      <%= link_to "Eliminar", user, method: :delete, data: { confirm: "Deseas eliminar este usuario?"} %>
    </td>
  </tr>
    <% end %>
</table>